img {
  border-radius: 75px;
  padding: 20px;
}
h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a {
    background-color:lightpink;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
    display:block;
    text-align:center;
    border-radius:30px;
}